body {
    margin: 0;
    max-width: 100vw;
}

#pageContainer {
    display: flex;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
}

#blocklyDiv {
    flex-basis: 100%;
    height: 100%;
}

#codePane {
    display: flex;
    flex-direction: column;
    width: 400px;
    flex: 0 0 400px;
    overflow: auto;
    margin: 1rem;
    display: none;
}

#generatedCode {
    overflow:auto;
    height: 80%;
    background-color: rgb(247, 240, 228);
}

#outputPane {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1rem;
}

#output {
    height: 80%;
    word-wrap: break-word;
    word-break: normal;
    overflow-y: scroll;
    background-color: rgb(247, 240, 228)
}